#!/bin/bash

# echo "Setting up aliases..."

# ls
alias ls='ls -lha --color=always'
# echo "ls='ls -lha --color=always'"

# gnu find
alias find='gfind'
# echo "find='gfind'"

# gnu timeout
alias timeout='gtimeout'
# echo "timeout='gtimeout'"
