[user]
	email = oral.ersoy.dokumaci@gmail.com
	name = oedokumaci
	signingkey = ~/.ssh/github
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[rerere]
	enabled = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
